@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Panicko';
  src: url('/fonts/panicko.woff2') format('woff2'),
       url('/fonts/panicko.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-black text-white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }
}

.panicko-font {
  font-family: 'Panicko', sans-serif;
}
